/* Reset dei margini e dei padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile del body */
body {
    background-color: #3C2F60;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Stile dell'header */
header {
    background-color: #1E163A;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
}

.logo img {
    max-width: 100px;
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-right: 20px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Stile del main */
main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1E163A;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Stile per la sezione della classifica */
#classifica {
    text-align: center;
    margin-top: 20px;

}

#classifica table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
}

#classifica th,
#classifica td {
    padding: 10px;
    border: 1px solid #ffffff;
    color: #ffffff;
}

#classifica th {
    background-color: #1E163A;
}


/* Stile per la scritta Classifica */
#classifica h2 {
    margin-bottom: 30px; /* Incrementa il margine inferiore */
}

/* Stile per il contenitore della tabella */
#classifica table-container {
    opacity: 0.7; /* Riduci leggermente l'opacità */
}

/* Stile per il logo */
.logo img {
    max-width: 100px; /* Modifica la larghezza massima dell'immagine del logo */
}



/* Stile per i link del menu */
nav ul li a {
    color: white;
    text-decoration: none;
    position: relative; /* Posizione relativa per l'effetto di sottolineatura */
}

/* Effetto di sottolineatura */
nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Spazio sotto il testo */
    left: 0;
    width: 100%;
    height: 2px; /* Altezza della sottolineatura */
    background-color: transparent; /* Colore iniziale della sottolineatura */
    transition: background-color 0.3s; /* Animazione per il cambio di colore */
}

/* Cambio di colore al passaggio del mouse */
nav ul li a:hover {
    color: #FFD700; /* Cambia colore del testo al passaggio del mouse */
}

/* Cambio di colore della sottolineatura al passaggio del mouse */
nav ul li a:hover::after {
    background-color: #FFD700; /* Cambia colore della sottolineatura al passaggio del mouse */
}

/* Stile per la scritta "Bonus" */
#classifica th.bonus {
    color: #00FF00; /* Verde */
}

/* Stile per la scritta "Malus" */
#classifica th.malus {
    color: #FF0000; /* Rosso */
}




